<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AguaZero"
        tools:targetApi="31">
        <activity
            android:name=".Foro.ForoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Foro.CrearEditarForoActivity"
            android:exported="false" />
        <activity
            android:name=".Foro.ForoListActivity"
            android:exported="false" />
        <activity
            android:name=".Foro.ForoActivity"
            android:exported="false" />
        <activity
            android:name=".Foro.ResponderForo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Emergencia_Hidrica"
            android:exported="false" />
        <activity
            android:name=".Localidades.Seleccionar_mi_localidad"
            android:exported="false" />
        <activity
            android:name=".Localidades.Infoporlocalidades"
            android:exported="false" />
        <activity
            android:name=".Localidades.Infolocalidades"
            android:exported="false" />
        <activity
            android:name=".Localidades.MapadeBogota"
            android:exported="false" />
        <activity
            android:name=".Localidades.BarrioEscogido"
            android:exported="false" />
        <activity
            android:name=".Localidades.ListaLocalidades"
            android:exported="false" />
        <activity
            android:name=".Localidades.ListaUbicacion"
            android:exported="false" />
        <activity
            android:name=".Login.EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".Login.Inicio"
            android:exported="false" />
        <activity
            android:name=".Login.Register"
            android:exported="false" />
        <activity
            android:name=".Login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>